div.payment-form-container
  form(action="/pagamento" method="POST").payment-form
    input(type="hidden" name="checkout" value="#{JSON.stringify(checkout)}")
    input(type="hidden" name="cardHash" value="").card-hash
    include ./_public-key
    
    label= t('checkout.checkoutForm.personalData')    
    div.form-group
      div.row 
        div.col-md-12
          label(for="fullName")= t('checkout.checkoutForm.fullName')
          input(type="text" name="fullName").form-control
      div.row
        div.col-md-6
          label(for="birthDate")= t('checkout.checkoutForm.birthDate')
          input(type="text" name="birthDate" data-mask="00/00/0000").form-control
        div.col-md-6
          label(for="phone")= t('checkout.checkoutForm.phone')
          input(type="text" name="phone" data-mask="(00) 00000-0000").form-control
      div.row
        div.col-md-12
          label(for="cpf")= t('checkout.checkoutForm.cpf')
          input(type="text" name="cpf" data-mask="000.000.000-00").form-control
    
    label= t('checkout.checkoutForm.creditCardData')
    div.form-group
      div.row 
        div.col-md-12
          label(for="cardNumber")= t('checkout.checkoutForm.cardNumber')
          input(type="text" name="cardNumber").form-control.card-number
      div.row
        div.col-md-12
          label(for="cardCvc")= t('checkout.checkoutForm.cardCvc')
          input(type="text" name="cardCvc").form-control.card-cvc
      div.row
        div.col-md-6
          label(for="cardExpMonth")= t('checkout.checkoutForm.cardExpMonth')
          input(type="text" name="cardExpMonth").form-control.card-exp-month
        div.col-md-6
          label(for="cardExpYear")= t('checkout.checkoutForm.cardExpYear')
          input(type="text" name="cardExpYear").form-control.card-exp-year
      
    div.form-group
      div.row
        div.col-md-12
          button(type="submit").btn.btn-primary
            i.fa.fa-check
            | #{t('checkout.checkoutForm.checkout')}
