div.col-md-2.col-sm-4.col-xs-12: a(href="/evento/#{e.id}").event-link: li.event-item
  img(src="http://placehold.it/166x94").image
  div.event-contents
    span.event-title #{e.name}
    span.date= helpers.dateFormat.format(e.scheduled_date, "dd/mm/yyyy, HH:MM")
    span.old-price= helpers.numeral.real(e.original_price)
    span.price= helpers.numeral.real(e.price)
