extends /base

block container
  div.row: div.col-md-8.col-md-offset-2: section.signup-container
    h1.title= t('signup.signup')
    div.row: div.signup-sections-container
      div.col-md-5: div.facebook-signup-container
        h2.subtitle= t('signup.socialLogin')
      div.col-md-7: div.form-signup-container
        h2.subtitle= t('signup.formLogin')
        div.form-container: form(action="/user/create" method="POST" role="form")
          div.form-group
            label(for="name")= t("signup.name")
            input(type="text" name="name" placeholder=t("signup.name")).form-control
          div.form-group
            label(for="email")= t("signup.email")
            input(type="text" name="email" placeholder=t("signup.email")).form-control
          div.form-group
            label(for="password")= t("signup.password")
            input(type="text" name="password" placeholder=t("signup.password")).form-control
          button(type="submit").btn.btn-default= t("signup.saveButton")
    //- html safe
    div.service-terms: span !{t("signup.serviceTerms")}
          
  
