extends /base

block container
  h1.title= t('signup.signup')
  div.row: div.col-md-4.col-md-offset-4: section.signup-container
    if alert
      include /shared/alert
      
    div.row: div.signup-sections-container
      div.col-md-12: div.form-signup-container
        div.form-container: form(action="/cadastro" method="POST" role="form")
          div.form-group
            label(for="name")= t("signup.name")
            input(type="text" name="name" data-validation="required" placeholder=t("signup.name")).form-control
          div.form-group
            label(for="email")= t("signup.email")
            input(type="text" name="email" data-validation="required email" placeholder=t("signup.email")).form-control
          div.form-group
            label(for="password")= t("signup.password")
            input(type="password" name="password" data-validation="required" placeholder=t("signup.password")).form-control
          div.form-group
            button(type="submit").btn.btn-default= t("signup.saveButton")
          div
            span !{t("signup.login")}
    //- html safe
    //- div.service-terms: span !{t("signup.serviceTerms")}
          
  
