div.menu-header
  div.logo
    = 'Qettal'
  div.close-side-menu
    i.fa.fa-times
div.menu-body
  nav.main-menu
    ul.menu-list
      if loggedUser
        li.menu-item
          a(href="/perfil")= t('menu.profile')
        li.menu-item
          a(href="/historico")= t('menu.purchasesHistoy')
        li.menu-item
          a(href="/logout")= t('menu.logout')
      else
        li.menu-item
          a(href="/cadastro")= t('menu.signup')
        li.menu-item
          a(href="/login")= t('menu.login')
