extends /base

block header
  - // limpa o header
  
block container
  if alert
    include /shared/alert
    
  div.tickets-header
    div.logo
      span !{t('ticket.title')}
  
  div.event-info
    span
      div
        b #{t('ticket.event')}
        | #{ticket.event.name}
      div
        b #{t('ticket.date')}
        | #{helpers.dateFormat.format(ticket.event.scheduled_date, 'dd/mm/yyyy, HH:MM')}
        
  div.tickets-container.row
    each ti in ticket.tickets
      div.col-md-6.col-sm-6.col-xs-6
        div.ticket-container
          div.row
            div.col-md-6.col-sm-6.col-xs-6
              div 
                span 
                  b #{t('ticket.ticketType')}
                  | #{t('ticketTypes.' + ti.type)}
            div.col-md-6
              div.image-container
                img(src="#{ti.qrcode_url}")
