extends /base

block container
  div.row: div.col-md-8.col-md-offset-2: section.login-container
    if alert
      include /shared/alert
      
    h1.title= t('login.login')
    div.row: div.login-sections-container
      div.col-md-5: div.facebook-login-container
        h2.subtitle= t('login.socialLogin')
      div.col-md-7: div.form-login-container
        h2.subtitle= t('login.formLogin')
        div.form-container: form(action="/login" method="POST" role="form")
          div.form-group
            label(for="email")= t("login.email")
            input(type="text" name="email" placeholder=t("login.email")).form-control
          div.form-group
            label(for="password")= t("login.password")
            input(type="password" name="password" placeholder=t("login.password")).form-control
          button(type="submit").btn.btn-default= t("login.saveButton")
    
