extends base

block append css
  link(rel="stylesheet" href="assets/css/pages/index/page.css")

block before-main-content
  div.search-container
    = 'search'
block main-content
  div.row.double
    div.highlight= "highlight"
    div.highlight= "highlight"
      a(href="").btn.fa.fa-ticket="clica aqui xuxa"
  div.row.quadruple
    div.highlight= "highlight"
    div.highlight= "highlight"
    div.highlight= "highlight"
    div.highlight= "highlight"
  div.row.triple
    div.highlight= "highlight"
    div.highlight= "highlight"
    div.highlight= "highlight"
